.create-set-label {
    display: flex;

    outline: 1px solid black;
    background: #111111;
}

.create-set-input {

    border: none;

    color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.create-set-input::placeholder {
    color: #a5a5a5;
}

.create-set-button {
    border:none;
    background: #818479;
    width: 100%;
}

/* Used to removed default rounded inputs from mobile */
input {
    border-radius: 0;
}

input[type="search"] {
    -webkit-appearance: none;
}
/* -------------------------------------------------- */