.name {
    background-color: grey;
    color: rgb(238, 235, 230);
    padding-left: 1%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.screw-list {
    width: 20rem;
    justify-content: center;
}